{%extends 'auth/auth-base.html'%}

{%import 'bootstrap/wtf.html' as wtf%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/k.css')}}">
<link href="https://fonts.googleapis.com/css?family=Itim|Kranky|Londrina+Shadow" rel="stylesheet">
{% endblock %}
{%block content%}
    <div class='container'>
        <div class='row'style="text-align=center">
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="margin-top:100px;">
                <div class="containlog">
                    <div class='logProf' style="text-align:center">
                        <!-- <img src="{{url_for('static',filename='images/loger.png')}}" alt="check your connection" style="width:40%;height:40%"> -->
                        <p class="login">Log-In</p>
                        {{wtf.quick_form(login_form)}}
                        <p>Have you <a href="{{url_for('auth.register')}}">Registered?</a></p>  
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4"></div>
        </div>
    </div>
{%endblock%}

