{%extends 'base.html'%} {% import 'macros.html' as macro%} {%block content%} {%import 'bootstrap/wtf.html' as wtf%}
{% block styles%}

{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">

{% endblock %}
<img src="{{url_for('static',filename='photos/background.jpg')}}" alt="check your connection" style="width:100%;height:70vh;margin-top :-30px">
<div class="col-sm-offset-1 col-md-offset-1 col-xs-offset-1 logohold">
    <img src="{{url_for('static',filename='photos/logoback.jpg')}}" alt="check your connection" style="width:90%;height:50vh;margin-top :-200px">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <p>frejfkdsmoruibgsdf owiersdflisjedfsk vsdnvfjkrtsgdfvijstrndg vjlrtn gsvlijtkrsndfviljtdbnvhtjrkfd vjrtkfdn vhsejrbfgvnwhjrbg vhjtrnfds vhwjtefngvjtbngfvwjtebnv ejfbdmv tjfnbv werjfdvnjrf dnvhdtrgjnb rthgbjn itrjkdnfvrtjkdngf vtjrdfnvrtjndfb vitjrndgfvjtnrd gfvjntr dfjbvn tijkdfmbn tijrkdfnb rjgn jtmngfdijktrnedsgkn3wknfwjernpepkslswls[qnrgtfgrlgtihlgrjgjogjvnogh35ugugjfggfjuen -4j i 3it  piork gni5rki3jt0943j f0944 09rj gfgpwigjegj 44ntguhugmjgheiuhnnkjfbkghitnkqrkjgegh3twk 33qkrjg gef] fnfniurnrnafnp i parfn  ur INnuwnfnqQnun  iwfuhknuugrnfnqiohp</p>
        </div>
        <div class="col-md-11">
         <button class="btn btn-default"> <a href="/blog">Add Blog</a></button>
        </div>
    </div>
</div>

{%endblock%}